# Ignore node_modules directory
node_modules/

# Ignore compiled JavaScript files
dist/
public/app.js
src/backend/*.js
src/frontend/*.js

# Ignore TypeScript build info
tsconfig.tsbuildinfo

# Ignore environment variables
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm debug logs
npm-debug.log*

# Ignore IDE-specific files
.vscode/
.idea/
